*{
    margin: 0;padding: 0;box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}

 /* header section */  
 
 header{
    max-width: 1140px;
    margin: 0 auto;
 }
 .brand-name{
    color: #3A3A3A;
    font-weight: bold;
    font-size: 1.6rem;
 }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 18px;
    margin-top: 30px;
}
.nav-ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.nav-ul  a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 549;
}
.container-text{
    width: 50%;
}
button.btn{
    background-color: #E02C6D;
    color: white;
    font-weight: bold;
    border-radius: 40px;
    padding: 10px 20px;
    border: none;
}
img{
    width: 100%;
}
.container-image{
    background-image: url("images/Circle\ design.svg");
    background-size: cover;
    background-repeat: no-repeat;
    
    /* height: 476px; */
    background-position: center;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 10px;
    /* gap: 40px; */
    /* margin-bottom: 50px; */
    /* margin-top: 60px; */
}

p.header-desc {
    max-width: 450px;
    opacity: 0.7;
    margin: 15px 0px;
}

h1.header-title {
    font-size: 2.4rem;
}



/* shops-site */


#shop-site{
    max-width: 1110PX;
    margin: 50px auto;
    margin-bottom: 110px;
}


.shop-images{
    max-width: 950px;
    margin: 0 auto;
    display: grid;
   grid-template-columns: repeat(7, 1fr);
   
   justify-content: center;
   align-items: center;
    gap: 50px;
    padding: 10px;
    border-top: 1px solid #80808030;
    border-bottom: 1px solid #80808026;
}
.shop-images img{
    align-self: center;
}


/* collection */
#collection{
    max-width: 1050px;
    margin: 50px auto;
    
    
}
.all-boxes{

display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 25px;


}
.collection-title{
    text-align: center;
    margin: 50px 0px;
}
.collection-box{
  
padding: 15px;
  
box-shadow: 0px 0px 18px 1px rgb(128 128 128 / 49%);
  
border-radius: 10px;
  
border: none;
}
.collection-box-detailes{
    font-weight: bold;
    opacity: 0.6;
    line-height: 1.3;
    font-size: 0.9rem;
}
.collection-box-detailes i{
    color: orange;
    font-size: 0.7rem;
   
}
h3.collection-box-title {
    font-size: 1.6rem;
    margin-top: 8px;
    font-weight: 600;
    opacity: 0.89;
}

p.collection-box-desc {
    font-size: 1.3rem;
    margin: 7px 0px;
}
p.see-more {
    margin-top: 20px;
    font-weight: bolder;
    text-align: right;
    color: rgb(255 16 151);
}

/* feature-section */

#feature{
    max-width: 1110px;
    margin: 80px auto;
}
.feature-container{
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
    align-items: center;
}
.feature-title{
    font-size: 2.2rem;

}

.feature-text {
    max-width: 50%;
    margin-right: 50px;
}

p.feature-desc {
    font-size: 0.9rem;
    margin: 28px 0px;
    opacity: 0.7;
    max-width: 450px;
    text-align: justify;
}

.feature-image {
    max-width: 55%;
}



/* footer section */



.footer{
    background-color: black;
    color: white;
}
.footer-container{
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    padding: 25px 0px;
}
h2.footer-title {
    font-size: 1.4rem;
}

p.footer-desc {
    font-size: 0.7rem;
    opacity: 0.7;
    margin: 10px 0px;
    line-height: 1.5;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}



/* small device */

@media screen and (max-width:576px) {
    
    nav, .nav-ul{
        flex-direction: column;
    }
    .nav-ul{
        margin-top: 22px;
    }
    .container{
        flex-direction: column-reverse;
    }
    .container-text {
        width: 100%;
        text-align: center;
    }
    .container-image{
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .shop-images{
        display: grid;
        grid-template-columns: repeat(4, 1fr) ;
        border: none;
        grid-template-rows: auto;
        justify-content: space-between;
        align-items: center;
        justify-items:center;
        gap: 25px;
        max-width: 90%;
        margin: 0 auto;
    }
    .shop-images img{
        align-self: center;
    }
    
    .all-boxes{
        grid-template-columns: repeat(1, 1fr);
        max-width: 85%;
        margin: 0 auto;
    }
    .see-more{
        max-width: 90%;
        
    }
    .feature-container{
        flex-direction: column;
    }
    .feature-image{
        max-width: 85%;
        margin: 0 auto;
    }
  
    .feature-text{
        max-width:85% ;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
    }
}